name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  test-coverage:
    name: Test Coverage
    runs-on: ubuntu-latest
    env:
      VERBOSE: 1
      GOFLAGS: -mod=readonly

    steps:
    - uses: vahid-sohrabloo/clickhouse-action@v1
      with:
        version: '23.9'

        
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.21

    - name: Checkout code
      uses: actions/checkout@v3.3.0

    - name: Test
      run: make test-cover
    - name: Send coverage
      uses: codecov/codecov-action@v3
      with:
        file: coverage.out
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang-version: [1.20, 1.121]
        clickhouse-version: ['23.9', '23.8', '23.7', '22.3', '22.8']
    env:
      VERBOSE: 1
      GOFLAGS: -mod=readonly

    steps:
    - uses: vahid-sohrabloo/clickhouse-action@v1
      with:
        version: '${{ matrix.clickhouse-version }}'
        
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.21

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Test
      run: make test