name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  test-coverage:
    name: Test Coverage
    runs-on: ubuntu-latest
    env:
      VERBOSE: 1
      GOFLAGS: -mod=readonly

    steps:
    - uses: vahid-sohrabloo/clickhouse-action@v1
      with:
        version: '24.1'

        
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22

    - name: Checkout code
      uses: actions/checkout@v4.1.1

    - name: Test
      run: make test-cover
    - name: Send coverage
      uses: codecov/codecov-action@v4.0.1
      with:
        file: coverage.out
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang-version: [1.21, 1.22]
        clickhouse-version: [''24.1'', '23.10',','23.9', '23.8', '23.7']
    env:
      VERBOSE: 1
      GOFLAGS: -mod=readonly
      CLICKHOUSE_VERSION: ${{ matrix.clickhouse-version }}

    steps:
    - uses: vahid-sohrabloo/clickhouse-action@v1
      with:
        version: '${{ matrix.clickhouse-version }}'
        
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.22

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Test
      run: make test